

<h1> Recipes </h1>

<div class="recipes">
  <div class="col-md-4"><%= image_tag ("/assets/Food.jpg") %></div>
  <div class="col-md-4"><%= image_tag ("/assets/Food.jpg") %></div>
  <div class="col-md-4"><%= image_tag ("/assets/Food.jpg") %></div>
</div>

<br>

<div class="recipes">
  <div class="col-md-4"><%= image_tag ("/assets/Food.jpg") %></div>
  <div class="col-md-4"><%= image_tag ("/assets/Food.jpg") %></div>
  <div class="col-md-4"><%= image_tag ("/assets/Food.jpg") %></div>
</div>

<br>

<div class="recipes">
  <div class="col-md-4"><%= image_tag ("/assets/Food.jpg") %></div>
  <div class="col-md-4"><%= image_tag ("/assets/Food.jpg") %></div>
  <div class="col-md-4"><%= image_tag ("/assets/Food.jpg") %></div>
</div>